@model IEnumerable<RegistrationWithImage.Models.tblProduct>
@{
    ViewBag.Title = "AddNewProduct";
}

<div class="card mb-2">
    <div class="card-header">
        <h4>Add New Product</h4>
    </div>
    <div class="card-body">
        <form id="AddNewProduct"
              enctype="multipart/form-data"
              method="post"
              onsubmit="return AjaxPost(this)" >

            <label>Title</label><br />
            <input id="ProductName" name="ProductName"
                   class="form-control col-md-12" placeholder="Enter product name" />

            <label>Price</label><br />
            <input id="Price" name="Price"
                   class="form-control col-md-12" placeholder="Enter product price" />

            <label>Upload Image</label><br />
            <input id="ImageUpload" name="ImageUpload"
                   class="form-control col-md-12" type="file" />
            <br />
            <button class="btn btn-success float-right">Add</button>

        </form>
    </div>
</div>

<!----------Product List--------------->
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            double price = Convert.ToInt32(@item.Price);
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="~/AppFile/Images/@item.PicUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">@price.ToString("F2")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!---Write code for pass form-data from view to controller
and save it in database-->

<script>
    function AjaxPost(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/Products/SaveData",
            data: new FormData(formData),
            success: function (result) {
                alert(result);
                window.location.href = "/Products/AddNewProduct";
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
</script>
