@model IEnumerable<RegistrationWithImage.Models.tblProduct>
@{
    ViewBag.Title = "AddNewProduct";
}

<h2>Add New Product</h2>
<div class="container">
    <div class="col-md-6">
        <form id="AddNewProduct"
              enctype="multipart/form-data"
              method="post"
              onsubmit="return AjaxPost(this)">

            <label>Title</label><br />
            <input id="ProductName" name="ProductName"
                   class="form-control" placeholder="Enter product name" />

            <label>Price</label><br />
            <input id="Price" name="Price"
                   class="form-control" placeholder="Enter product price" />

            <label>Upload Image</label><br />
            <input id="ImageUpload" name="ImageUpload"
                   class="form-control" type="file"/>
            <br/>
            <button class="btn btn-success">Add</button>

        </form>
    </div>
</div>

<!----------Product List--------------->
<div class="container">
    <h2 class="text-center">Products List</h2>
    @foreach (var item in Model)
    {
        double price = Convert.ToInt32(@item.Price);
        <div class="col-md-3" style="margin-bottom: 25px">
            <div class="img-thumbnail">
                <div class="image" style="margin-bottom: 20px">
                    <img src="~/AppFile/Images/@item.PicUrl" 
                         class="image" height="350" width="240"/>
                </div>
                <div class="caption" style="border-top: 3px solid black">
                    <h3><a href="#">@item.ProductName</a></h3>
                    <h4>@price.ToString("F2")</h4>
                </div>
            </div>
        </div>
    }

</div>




















<!---Write code for pass form-data from view to controller
and save it in database-->

<script>
    function  AjaxPost(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/Products/SaveData",
            data: new FormData(formData),
            success: function(result) {
                alert(result);
                window.location.href = "/Products/AddNewProduct";
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
</script>

